/*  */
* {
  /* font-family: "Montserrat", sans-serif; */
  /* background-color: gray; */
}
/* These are utility classes to enable 3D effects */
.perspective {
  perspective: 1000px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-x-180 {
  transform: rotateX(180deg);
}
figure img {
  margin: auto;
}
.rendor :is(ol, ul) li {
  margin: 0.6rem 0 !important;
}
/* .rendor :is(ol, ul) li::marker {
  content: "❤️" !important;
} */
